/* ------------------------------------ COMMON STYLING FOR ALL PAGES------------------------------------ */
body {
    overflow-x: hidden;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
em {
  font-family: "AlFresco";
}
.btn-light {
  padding: 0.4rem 2rem;
  position: relative;
  background-color: #f7f7f7;
  color: #ebdfdf !important;
  background: rgb(251, 63, 242);
  background: linear-gradient(
    45deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(171, 80, 125, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  transition: 0.3s all ease-in-out;
  border: none;
  border-radius: 20px;
  font-weight: normal !important;
}
.btn-light:hover {
  color: white !important;
}
.btn-light:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
  background-color: rgba(255, 0, 0, 0.2);
}
.btn-light:hover::after {
  opacity: 1;
}
.width-80{
    width: 80%;
    margin: auto;
}
/* 
------------------------ FONTS 
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: "AlFresco";
  src: url("../fonts/141029084db058008a2e75132a55dbb1.eot"); /* IE9*/
  src: url("../fonts/141029084db058008a2e75132a55dbb1.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/141029084db058008a2e75132a55dbb1.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../fonts/141029084db058008a2e75132a55dbb1.woff")
      format("woff"),
    /* chrome、firefox */ url("../fonts/141029084db058008a2e75132a55dbb1.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/141029084db058008a2e75132a55dbb1.svg#AlFresco")
      format("svg"); /* iOS 4.1- */
}

/* 
-------------------NAVBAR STYLING 
*/
nav {
  position: relative;
  z-index: 1;
}
.navbar-brand img {
  width: 250px;
  margin-right: 2rem;
}
.nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.nav-link {
  position: relative;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
}
.navbar-nav .nav-item:hover,
.navbar-nav .nav-item.active {
  color: goldenrod !important;
}
.navbar-nav .nav-link.active:after,
.navbar-nav .nav-link:hover:after {
  width: auto;
  opacity: 1;
}
.navbar-nav .nav-link:after {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  content: "~~";
  font-size: 0.6;
  font-weight: 700;
  font-family: "Times New Roman", Serif;
  color: goldenrod;
  width: 0;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
/* ----------------------------------- HOME PAGE -------------------------------- */

/* 
------------------HEADER SECTION
 */

#home-header {
  background-color: #f7f7f7;
  height: 100vh;
  max-height: 900px;
  position: relative;
}
.home-header-wrapper {
  padding: 2rem;
}
section#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}
#welcome h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}
#welcome q{
  font-size: 1.2rem;
}
#welcome .left-col {
  align-self: center;
  padding-left: 8%;
  width: 40%;
}
#welcome .right-col {
  width: 60%;
  clip-path: polygon(45% 0, 100% 0%, 100% 100%, 0% 100%);
  background-image: url("../img/WhatsApp\ Image\ 2020-03-15\ at\ 3.08.18\ AM.jpeg");
  background-size: cover;
  background-position: center;
}

/* 
------------------SERVICES SECTION
 */
section#home-services{
    background-color: #f7f7f7;
}

.home-services{
    text-align: center;
  }
  .home-services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3E8BB5;
    padding-bottom: 10px;
    margin-top: 40px;
  }
  .cen{
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .home-service{
    width: 33.3333%;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    transition: 1.2s all ease !important;
    background: #f7f7f7;
  }
  .home-service:hover{
    background: #ddd;
  }
  .home-service:hover i{
      color: rgba(252, 70, 107, 1);
  }
  .home-service i{
      transition: .3s color ease-in-out;
    color: #3E8BB5;
    font-size: 34px;
    margin-bottom: 30px;
  }
  .home-service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }
  .home-service p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
  }
  .home-service a{
      color: black;
  }

  /* 
------------------TESTIMONIALS SECTION
 */
section#home-testimonials{
  background-color: #3E8BB5;
}